 .head{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 980px;
    margin: 0 auto;
 }
 .btnp{
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin-top: 2;
    text-decoration: none;
    border-radius: 5px;
 }
 .head a{
    margin-top: 20px;
 }

 .btnc{
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: black;
    color: white;
 }
 .boxsh{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
 }
 .secb{
    text-align: center;
    
 }
 .secb h1{
    font-size: 48px;
    font-weight: 800;
    margin: 30px 0px 30px 0px;
 }
 .secb p{
    margin-top: 30px;
    margin-bottom: 30px;
 }
 .banner{
    margin: 60px 0px 60px 0px;
    padding: 20px 0 20px 0;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: center;
 }
 .bgs{
    background: rgba(13, 19, 33, 0.02);
 }
 .bgg{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 0px 20px;
 }
 .secb img{
    background-image: center;
 }
 .alls{
   text-align: center;
   background: rgba(13, 19, 33, 0.02)
 }
 .alls h1{
   padding-top: 20px;
 }
 .allsec{
   width: 1000px;
   margin: 0px auto;
 }
 .heding{
    text-align: center;
    margin: 100px 0px 100px 0px;
 }
 .heding p{
    opacity: 0.7;

 }
 .heding h1{
    font-size: 32px;
    font-weight: 800;
 }
 .sectwo{
    display: flex;
    justify-content: center;
    margin: -16px 0px 16px 0px;
    display: flex;
    padding: 70px 0px;
 }
 .sect{
    margin-right: 70px;
 }
 .secbtn{
    color: rgba(13, 19, 33, 0.7);
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 40px;
    padding: 10px 10px;
 }
 .sect h4{
    
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
 }
 .sect p{
    opacity: 0.7;
    color: rgba(13, 19, 33, 0.7);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
    margin-top: 20px;
 }
 .sect2{
    margin-left: 70px;
 }
 .sect2 h4{
    
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
 }
 .sect2 p{
    opacity: 0.7;
    color: rgba(13, 19, 33, 0.7);
    opacity: 0.7;

 }
 .sect3{
    margin-right: 70px;
 }
 .sect3 h4{
    
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
 }
 .sect3 p{
    opacity: 0.7;
    color: rgba(13, 19, 33, 0.7);
    opacity: 0.7;

 }
 .video{
    margin: 60px 0px 60px 0px;
 }
 .videos{
    border-radius: 16px;
    border: 1px solid rgb(68, 63, 63);
    width: 950px;
    margin: 0 auto;
    padding: 10px;

 }
 .video iframe{
    border-radius: 16px;
    background: url(Jhankar);
 }
 .threbox{
    margin: 100px auto;
    width: 1000px;
    display: flex;
 }
 .threbox a{
    color: black;
 }
 .box{
    border-radius: 16px;
 }
 .box1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 20 10px ;
    margin: 0 30px;
 }
 .box img{
    margin-top: 30px;    
 }
 .box1 p{
    margin-bottom: 28px;
 }
 .box2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 10px 10px ;
    margin: 0 ;
 }
 .box img{
    margin-top: 30px;    
 }
 .box3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 0px 10px ;
    margin: 0 30px;
 }
 .box3 p{
    margin-bottom: 12px;
 }
 .box img, h3, p, a{
    padding-left: 10px;
    margin-top: 30px;    
 }
.support{
    
    margin: 100px 0px 60px 0px;
    text-align: center;
}
div .eml{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 10px 120px;
}
div .emlb{
    font-size: bold;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 10px 20px;
}
.sup{
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 950px;
    margin: 0 auto;
    padding: 20px 0px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
}
.text{
    padding: 0px 0px;
    
}
.text h1{
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.text p{
    margin-bottom: 25px;
    color: rgb(184, 177, 177);
}footer{
    
    background: rgba(13, 19, 33, 0.03);
    
}
.content .icons{
    text-align: center;
    justify-content: center;
    margin-top: 12px;
}
footer .content{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

